.row-margin-top {
	margin-top : 2%;
}

.margin-10-px {
	margin: 10px;
}

.img-padding {
	margin: 2%;
}

.img-grid {
    width: 400px; /* You can set the dimensions to whatever you want */
    height: 300px;
    object-fit: cover;
}